<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- React SPA Routing -->
    <rewrite>
      <rules>
                <clear />
                <rule name="http_to_https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^(?:/graduate|/admin)/(static|manifest.json|favicon.ico|asset-manifest.json)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
      </rules>
    </rewrite>

    <!-- MIME Types -->
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>

  </system.webServer>
</configuration>