<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <clear />

        <!-- HTTP to HTTPS -->
        <rule name="http_to_https" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Socket.IO Proxy -->
        <rule name="SocketIO Proxy" stopProcessing="true">
          <match url="^socket.io/(.*)" />
          <action type="Rewrite" url="http://localhost:5005/socket.io/{R:1}" />
        </rule>

        <!-- API Proxy -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^alumni-portal/(.*)" />
          <action type="Rewrite" url="http://localhost:5005/alumni-portal/{R:1}" />
        </rule>

        <!-- React SPA Routing -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(alumni-portal|socket.io)" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>

    <!-- MIME Types -->
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>

  </system.webServer>
</configuration>